archive/er_mlp/results/*
archive/er_mlp/fig/*
*__pycache__
**/.DS_Store
archive/er_mlp/models/*
pra/model/model_instance/*
*/predict_example/*
er_mlp/model/model_instance/*
stacked/model_instance/*
!README
__pycache__/
.tags
.tags_sorted_by_file
*.pyo
*.pyc
